@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&display=swap");

:root {
  --pink-0: #ffb9e5;
  --pink-1: #df77f3;
  --pad: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", monospace;
  &::-webkit-scrollbar {
    display: none;
  }
}

#root {
  height: 100%;
  width: 100%;
}
