.dashboard_form_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__img {
    display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        & img {
            height: 80%;
        }
  }
  &__form {
    width: 40%;
    padding: var(--pad);
  }
}
