.connect_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--pink-0);
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
    &:hover {
        background-color: var(--pink-1);
        box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
    }

    &:active {
        transform: translateY(2px);
        box-shadow: none;
    }

    .connect_button__icon {
        margin-right: 10px;
    }
    .connect_button__text {
        font-size: 16px;
        font-weight: 500;
        color: #000;
    }
}
