.navbar_container {
  width: 100vw;
  height: calc(80px - 2* var(--pad));
  display: flex;
  border-bottom: 1px solid black;
  background-color: #fff;
  position: fixed;
  z-index: 3;
  &__left {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__name {
      padding: var(--pad);
      font-weight: bolder;
      font-size: 1.5rem;
    }
  }

  &__middle {
    width: 34%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &__link {
      width: 25%;
      padding: var(--pad);
      text-decoration: none;
      color: black;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);


      &:hover {
        background-color: var(--pink-0);
        box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);

        /* Show the dropdown content when hovering */
        .dropdown-content {
          display: block;
        }
      }

      &:active {
        transform: translateY(2px);
        box-shadow: none;
      }

      .dropdown-content {
        /* Styles for the dropdown content */
        display: none;
        position: absolute;
        top: 92%;
        left: 0;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 100%;
        background-color: #fff;
        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;

          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

          &:hover {
            box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
            background-color: var(--pink-0);
          }
          &:active {
            transform: translateY(2px);
            box-shadow: none;
          }
        }
      }
    }
  }
  &__right {
    padding: var(--pad);
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
