$pink-0: #ffb9e5;
$pink-1: #df77f3;
$white: #fff;
$black: #000;

.house_card_container {
  display: flex;
  background-color: $white; /* Use your background color here */
  border: 1px solid $black; /* Use your border color here */
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s; /* Add a smooth transition for the shadow */

  &:hover {
    /* Add hover effect styles here */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow on hover */
    cursor: pointer;
  }

  &:active {
    /* Add active (click) effect styles here */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Shadow on active */
  }

  &__left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &__image_container {
      width: 200px; /* Adjust the width as needed */
      height: 200px; /* Adjust the height as needed */

      &__image {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        aspect-ratio: 1;
        border-radius: 5px;
      }
    }
  }

  &__right {
    flex: 2;
    &__logo{
      width: 20px;
      height: 20px;
      margin-left: 6px;
    }
    &__title_container {
      padding: 10px;

      &__title {
        font-size: 18px;
        font-weight: bold;
        color: $black; /* Use your text color here */
        text-align: left;
      }

      &__subtitle {
        font-size: 17px;
        color: #777;
        text-align: left;
      }
    }

    &__price {
      padding: 10px;
      display: flex;
      margin-top: 20%;
      &__title {
        font-weight: bold;
        color: $black; /* Use your text color here */
        text-align: left;
      }

      &__price {
        font-size: 18px;
        color: $pink-1; /* Use your price color here */
        text-align: left;
      }
    }
  }
}
