.user-data {
  background: linear-gradient(90deg, #74ebd5, #acb6e5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #333; /* Text color */

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  table {
    width: 100%;

    td {
      padding: 10px;
      border-bottom: 2px solid #333; /* Table border color */
      text-align: left;
      font-weight: bold;

      &:first-child {
        width: 30%;
      }
    }

    tr:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.1); /* Even row background color */
    }

    tr:last-child {
      td {
        border-bottom: none;
      }
    }
  }
}
